.git
.gitignore
.env
.env.*
!.env.example
vendor
node_modules
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
.github
README.md
docker-compose.prod.yml